.header {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: auto;
  background: linear-gradient(135deg, #170012, #060613);
}

.section1 {
  color: white;
  padding: 15% 2%;
  background: url("../../assets/img/bg.png") no-repeat;
  height: 1;
  width: 100%;
  height: 100vh;
}

.section1 h1 {
  font-size: 4rem;
  margin-bottom: 20px;
  background: linear-gradient(90deg, #00ffe6 0%, #00aaff 29.9%, #ff00e1 78.12%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.section1 p {
  font-size: 1.2rem;
  margin-bottom: 40px;
}

.cta-button {
  padding: 12px 24px;
  font-size: 1rem;
  color: white;
  background-color: transparent;
  border: 1px solid;
  border-image-source: linear-gradient(
    90deg,
    #00f7ff 0%,
    #6584ff 51.01%,
    #ff00e5 100%
  );
  border-image-slice: 1;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

@media (max-width: 1024px) {
  .section1 {
    padding: 0% 15px;
  }

  .section1 h1 {
    font-size: 3.5rem;
  }

  .section1 p {
    font-size: 1.1rem;
  }

  .cta-button {
    padding: 10px 20px;
    font-size: 0.95rem;
  }
}

@media (max-width: 768px) {
  .section1 {
    padding: 3% 10px;
    height: auto;
    width: 100%;
  }

  .section1 h1 {
    font-size: 3rem;
  }

  .section1 p {
    font-size: 1rem;
  }

  .cta-button {
    padding: 8px 16px;
    font-size: 0.9rem;
  }
}

@media (max-width: 480px) {
  .section1 {
    padding: 2% 5px;
    height: auto;
  }

  .section1 h1 {
    font-size: 2.5rem;
  }

  .section1 p {
    font-size: 0.95rem;
    margin-bottom: 20px;
  }

  .cta-button {
    padding: 8px 14px;
    font-size: 0.85rem;
  }
}

.section2 {
  text-align: center;
  color: white;
  padding: 100px;
  height: 100vh;
  width: 98vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #060613;
}

.section2 h1 {
  font-size: 42px;
  margin-bottom: 20px;
  width: 70vw;
}

.section2 p {
  font-size: 14px;
  margin-bottom: 40px;
  width: 60vw;
}

@media (max-width: 1024px) {
  .section2 h1 {
    font-size: 2rem;
  }

  .section2 p {
    font-size: 1rem;
  }
}

@media (max-width: 768px) {
  .section2 {
    padding: 80px 15px;
  }

  .section2 h1 {
    font-size: 1.8rem;
  }

  .section2 p {
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  .section2 {
    padding: 60px 10px;
  }

  .section2 h1 {
    font-size: 1.6rem;
  }

  .section2 p {
    font-size: 0.95rem;
    margin-bottom: 20px;
  }
}

.services {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.service-card {
  flex: 1 1 30%;
  max-width: 30%;
  min-width: 280px;
  margin: 10px;
  padding: 20px;
  background-color: transparent;
  border-radius: 10px;
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon {
  font-size: 40px;
  margin-bottom: 10px;
}

.pencil::before {
  content: "✏️";
}

.lightning::before {
  content: "⚡";
}

.mobile::before {
  content: "📱";
}

.circle::before {
  content: "⭕";
}

@media (max-width: 1024px) {
  .service-card {
    flex: 1 1 45%;
  }
}

@media (max-width: 768px) {
  .service-card {
    flex: 1 1 100%;
    max-width: 100%;
  }
}

.container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 2rem;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 98vw;
  padding-top: 200px;
  align-items: center;
}

.pointer {
  position: relative;
  flex: 1;
  text-align: left;
}

.container .pointer h1 {
  color: #ff8c00;
  font-size: 6rem;
  margin: 0;
  position: relative;
  z-index: 1;
  margin: 2% 2% 2% 9%;
}

.pointer h2 {
  font-size: 3rem;
  margin: 0;
  position: absolute;
  top: 55%;
  left: 40%;
  transform: translate(-20%, -50%);
  z-index: 1;
}

.content {
  max-width: 600px;
  padding: 20px;
  background-color: #333;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  flex: 1;
  position: relative;
  text-align: center;
  color: #fff;
  height: 35vh;
}

.content p {
  font-size: 1.2rem;
  line-height: 1.5;
  margin: 3% 1% 3% 18%;
}

.content .circle {
  width: 50px;
  height: 50px;
  background-color: #ff8c00;
  border-radius: 50%;
  position: absolute;
  top: 47px;
  left: 20px;
}

@media (max-width: 768px) {
  .pointer h1 {
    font-size: 4rem;
    margin: 0 0 1rem 1rem;
  }
  .pointer h2 {
    font-size: 2rem;
    top: 60%;
    left: 35%;
    transform: translate(-15%, -50%);
  }
  .content {
    max-width: 90vw;
    height: auto;
    padding: 10px;
  }
}

@media (max-width: 480px) {
  .pointer h1 {
    font-size: 3rem;
  }
  .pointer h2 {
    font-size: 1.5rem;
    top: 65%;
    left: 30%;
  }
  .content p {
    font-size: 1rem;
    margin: 1% 1%;
  }
}

.container-left {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 2rem;
  flex-wrap: nowrap;
  width: 98vw;
  padding-top: 200px;
  align-items: center;
  flex-direction: row-reverse;
}

.pointer-left {
  position: relative;
  flex: 1;
  text-align: left;
}

.pointer-left h1 {
  color: #ff8c00;
  font-size: 6rem;
  margin: 0;
  position: relative;
  z-index: 1;
  margin: 3% 2% 2% 71%;
}

.pointer-left h2 {
  font-size: 3rem;
  margin: 0;
  position: absolute;
  top: 55%;
  left: 40%;
  transform: translate(-20%, -50%);
  z-index: 1;
}

.content {
  max-width: 600px;
  padding: 20px;
  background-color: #333;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  flex: 1;
  position: relative;
  text-align: center;
  color: #fff;
  height: 35vh;
}

.content p {
  font-size: 1.2rem;
  line-height: 1.5;
  margin: 3% 1% 3% 18%;
}

.content .circle {
  width: 50px;
  height: 50px;
  background-color: #ff8c00;
  border-radius: 50%;
  position: absolute;
  top: 47px;
  left: 20px;
}

@media (max-width: 768px) {
  .pointer h1 {
    font-size: 4rem;
    margin: 0 0 1rem 1rem;
  }
  .pointer h2 {
    font-size: 2rem;
    top: 60%;
    left: 35%;
    transform: translate(-15%, -50%);
  }
  .content {
    max-width: 90vw;
    height: auto;
    padding: 10px;
  }
}

@media (max-width: 480px) {
  .pointer h1 {
    font-size: 3rem;
  }
  .pointer h2 {
    font-size: 1.5rem;
    top: 65%;
    left: 30%;
  }
  .content p {
    font-size: 1rem;
    margin: 1% 1%;
  }
}

.container-left-sec {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 2rem;
  flex-wrap: nowrap;
  width: 98vw;
  padding-top: 200px;
  align-items: center;
  flex-direction: row-reverse;
  padding-bottom: 200px;
}

.pointer-left {
  position: relative;
  flex: 1;
  text-align: left;
}

.pointer-left h1 {
  color: #ff8c00;
  font-size: 6rem;
  margin: 0;
  position: relative;
  z-index: 1;
  margin: 3% 2% 2% 71%;
}

.pointer-left h2 {
  font-size: 3rem;
  margin: 0;
  position: absolute;
  top: 55%;
  left: 40%;
  transform: translate(-20%, -50%);
  z-index: 1;
}

.content {
  max-width: 600px;
  padding: 20px;
  background-color: #333;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  flex: 1;
  position: relative;
  text-align: center;
  color: #fff;
  height: 35vh;
}

.content p {
  font-size: 1.2rem;
  line-height: 1.5;
  margin: 3% 1% 3% 18%;
}

.content .circle {
  width: 50px;
  height: 50px;
  background-color: #ff8c00;
  border-radius: 50%;
  position: absolute;
  top: 47px;
  left: 20px;
}

@media (max-width: 768px) {
  .pointer h1 {
    font-size: 4rem;
    margin: 0 0 1rem 1rem;
  }
  .pointer h2 {
    font-size: 2rem;
    top: 60%;
    left: 35%;
    transform: translate(-15%, -50%);
  }
  .content {
    max-width: 90vw;
    height: auto;
    padding: 10px;
  }
}

@media (max-width: 480px) {
  .pointer h1 {
    font-size: 3rem;
  }
  .pointer h2 {
    font-size: 1.5rem;
    top: 65%;
    left: 30%;
  }
  .content p {
    font-size: 1rem;
    margin: 1% 1%;
  }
}

.button {
  padding: 0 0 100px 0;
}
.button button {
  width: 250px;
  height: 72.21px;
  gap: 0px;
  opacity: 0px;
  font-family: Poppins;
  font-size: 22px;
  font-weight: 500;
  line-height: 25.41px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #ff9900;
  border-radius: 5rem;
}

.button button:hover {
  color: #fff;
  background-color: #ff9900;
}

.Founder {
  height: 120vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}

.Founder h1{
  color: #ffffff;
}

.pointer h1 {
  font-size: 6rem;
  margin: 0;
  position: relative;
  margin: 16% 0% 0% -65%;
  color: #ffffff;
}

.container-Founder {
  width: 80vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 15px;
  border: 1px solid #000;
  padding: 20px;
  background: rgba(217, 217, 217, 0.1);
  backdrop-filter: blur(11.8px);
  gap: 20px;
}

.text-content {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.text-content h3 {
  font-size: 2rem;
  margin-bottom: 10px;
  color: #ffffff;
}

.text-content p {
  font-size: 1.2rem;
  margin-bottom: 20px;
  color: #ffffff;
}

.text-content button {
  background: rgba(217, 217, 217, 0.05);
  color: white;
  width: 212px;
  height: 44px;
  padding: 13px 58px;
  border-radius: 4px;
  border: 1px solid #000;
  cursor: pointer;
}

.founder-img {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.founder-img img {
  width: 100%;
  max-width: 300px;
  border-radius: 10px;
}

@media (max-width: 768px) {
  .container-Founder {
    flex-direction: column;
    align-items: center;
  }

  .text-content {
    width: 100%;
    text-align: center;
  }

  .founder-img {
    width: 100%;
    margin-top: 20px;
  }
}

@media (max-width: 480px) {
  .pointer h1 {
    font-size: 3rem;
    margin: 5% 0% 0% -30%;
  }

  .text-content h3 {
    font-size: 1.5rem;
  }

  .text-content p {
    font-size: 0.9rem;
  }
}

.Founder-button {
  padding: 100px 0 100px 0;
}

.Founder-button button {
  padding: 1rem 2.5rem;
  border-radius: 4px 0px 0px 0px;
  background-color: transparent;
  cursor: pointer;
  color: white;
  border: 1px solid white;
  border-radius: 4px;
}

.testimonial-body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px 0 20px;
}

.testimonial-section {
  text-align: center;
}

.testimonials {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 20px;
  max-width: 100%;
  flex-direction: row; 
}

.testimonial-section h1 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.box-container {
  text-align: center;
  height: 100vh;
}

h1 {
  margin-bottom: 20px;
}

.boxes {
  display: flex;
  justify-content: center;
  gap: 5rem;
}

.box {
  width: 40vw;
  height: 68vh;
  border-radius: 15px;
  border: 1px solid transparent; 
  opacity: 1; 
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-align: center;
}

.left-box {
  background: #D9D9D90D;
}

.right-box {
  background: #D9D9D90D;
}
